<% if current_page?(client_jobs_path(:client_id)) %>
	<h3>Here are all your jobs</h3>
<% else %>
	<h3> Here are all the jobs booked with <%= @client %></h3>
<% end %>

<% @jobs.each do |job| %>
	<ul>
		<li><%= link_to "Go to #{job.name}", job_path(job) %></li>
	</ul>
<% end %>
