<h3>See all Jobs Sorted by Date (earliest job occuring will be at top):</h3>

<% @job_sorted.each do |job| %>
	Name of Job: <%= link_to job.name, job_path(job) %>
	|
	Date and Time of Job: <%= job.readable_jobdate %>
	<br>
	<br>
<% end %>