<h3>Welcome to your Profile, <%= @user.name %></h3>

<div class="second">

<%= link_to "See all your jobs", jobs_path, class: "allJobs" %> 
<br>
<%= link_to "See all your clients", clients_path, class: "allClients" %>
<br>
<%= link_to "Edit your Info", edit_user_path(@user) %>

</div>

<div class="allJob first" style="padding-top: 30px">

</div>



