<h3>Welcome to your profile, <%= @user.name %></h3>

<div>
<%= link_to "See all your jobs", jobs_path %> 
<br>
<%= link_to "See all your clients", clients_path %>
<br>
<%= link_to "Create a job", new_job_path %>
</div>